---
---
/* modify Bootstrap variables here */
$msrl_blue: #007BB5;
$msrl_dark: #005882;
$msrl_darkest: #002435;
$msrl_red: #C11329;
$msrl_light: #3A96C1;

$theme-colors: (
"primary": $msrl_dark,
"info": $msrl-light,
);

$body-color: $msrl_darkest;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&family=Roboto&display=swap');
$font-family-base: 'Fira Sans', sans-serif;
//$font-family-base: 'Roboto', sans-serif;
//$headings-font-family: 'Roboto', sans-serif;

$fa-font-path:        "../fonts/fontawesome";

@import 'bootstrap/bootstrap';
@import 'fontawesome/fontawesome';
@import 'fontawesome/brands';
@import 'fontawesome/solid';
@import 'fontawesome/regular';

/* add additional CSS rules below */
/*
@media (min-width: 38em) {
    .container {
          width: 38em;
            }
          }
          */

.nav-pills .nav-link.active {
      background-color: $msrl_blue!important;
      //color: white!important;
    }

footer {
  font-size: 0.8rem;
  color: text-secondary;
}

.btn-primary {
    @include button-variant($msrl_blue, darken($msrl_blue, 7.5%), darken($msrl_blue, 10%),
    lighten($msrl_blue,5%), lighten($msrl_blue, 10%), darken($msrl_blue,30%));
}

.btn-outline-primary {
        @include button-outline-variant($msrl_blue, #222222, lighten($msrl_blue,5%), $msrl_blue);
}

h1 {
  color: $msrl_dark;
}

h2 {
  color: $msrl_dark;
}

h3 {
  color: $msrl_dark;
}

/*a {
  color: #014B68;
}*/

.publication-info {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.pubitem {
  margin: 2em 0;
  line-height: 1em;
}

.pubtitle a {
  //color: #014B68;
  margin-bottom: 1.2rem;
  line-height: 1.8rem;
  font-weight: bold;
}

.pubauthors, .pubinfo {
  font-size: 75%;
  margin-bottom: .75em;
}

.pubteaser {
  clear: both;
}

.pubteaser a {
  float: left;
  margin-right: 2em;
}

.pubteaser img {
  width: 100px;
  border: 1px solid black;
}

.publinks {
  font-size: 75%;
}

.published-badge {
    margin-right: 0.7rem;
}
.publication-title {
    //color: #395082;
}

.publication-authors {
    //color: $msrl_dark;
}
.publication-authors a {
    //color: $msrl_dark;
}

.first-auth {
   font-weight: bold;
}

.publication-teaser img {
    max-width: 400px;
    width: 1005;
}
