<div class="post-item">
    <div class="post-teaser">
        <a href="{{post.url}}">
            <img src="/images/{{ post.slug }}_small.png" alt="{{post.slug}} publication teaser" class="img-thumbnail mb-2 mr-3"/>
        </a>
    </div>
    <h6>
        <a href="{{ post.url }}">
            {{ post.title }}
        </a>
    </h6>
    <div class="pubauthors">
        {% for pauthor in post.authors %}
        {%- assign author = site.authors | where: "name": pauthor | first -%}
        {% if forloop.last == true %}
        and 
        {% if author %}
        <a href="{{author.url}}"> {{ author.name }} </a>
        {% else %}
        <span> {{ pauthor }} </span>
        {% endif %}
        {% else %}
            {% if author %}
                <a href="{{ author.url }}"> {{ author.name }}</a>, 
            {% else %}
                <span> {{ pauthor }} </span>, 
            {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    <div class="pubinfo">
        {{ post.publication }}, {{ post.year}}
    </div>
    <div class="publinks">
        <div class='inline-block'><a href="{{ post.rc_pdf_link }}"><i class="far fa-file-pdf"></i> PDF</a>&nbsp;&nbsp;</div>
        <div class='inline-block'><a href="{{post.url}}"><i class="fas fa-link"></i> Project Page</a>&nbsp;&nbsp;</div>
        <div class='inline-block'>
            {% if post.doi %}
            <div class='altmetric-embed' data-hide-no-mentions='true' data-doi='{{ post.doi }}'></div>
            {% endif %}
        </div>
    </div>

</div>
