---
layout: default
---

<h1 class="author-title my-4"> {{ page.name }}
</h1>

<div class="row">
    {% if page.img_filename %}
    <div class="col-md-4 my-auto">
        <img class="img-fluid rounded float-left" src="/images/{{ page.img_filename }}" alt="Author Photo">
    </div>
    {% endif %}
    <div class="col-md-8">
        {% if page.biography %}
        <h2 class="mt-4">Biography</h2>
        <p>
        {{ page.biography }}
        </p>
        {% endif %}
    </div>
</div>

{{ content }}

{% if page.email or page.github or page.google_scholar or page.researchgate or page.twitter %}
<h2 id="links" class="mt-4">Contact</h2>
<p>
{% if page.email %}
<a href="mailto:{{page.email}}"><i class="fas fa-inbox"></i> Email</a>&nbsp;&nbsp;
{% endif %}
{% if page.github %}
<a href="{{ page.github }}"><i class="fab fa-github"></i> GitHub</a>&nbsp;&nbsp;
{% endif %}
{% if page.google_scholar %}
<a href="{{ page.google_scholar }}"><i class="fab fa-google"></i> Google Scholar</a>&nbsp;&nbsp;
{% endif %}
{% if page.researchgate %}
<a href="{{ page.researchgate }}"><i class="fab fa-researchgate"></i> ResearchGate</a>&nbsp;&nbsp;
{% endif %}
{% if page.twitter %}
<a href="{{ page.twitter }}"><i class="fab fa-twitter"></i> Twitter</a>&nbsp;&nbsp;
{% endif %}
</p>
{% endif %}


<h2 class="mt-4">Publications</h2>
{% assign posts = site.posts | where_exp:"item", "item.authors contains page.name" %}
{% for post in posts %}
{% include pubitem.html %}
{% endfor %}
