---
layout: default
---

<div class="page">
    <h1 class="mt-4 publication-title">
        <!--<a href="{{ page.link }}">{{ page.title }}</a>-->
        {{ page.title }}
    </h1>
    <div class="publication-authors">
        {% for pauthor in page.authors %}
        {% assign author = site.authors | where: "name": pauthor | first %}

        {% if page.first_authors contains author.name %}
            {% if author %}
            <a class="first-auth" href="{{author.url}}">{{author.name}}</a>, 
            {% else %}
            <span class="first-auth">{{pauthor}}</span>
            {% endif %}
        {% elsif forloop.last == true %}
            and 
            {% if author %}
            <a class="auth" href="{{author.url}}">{{ author.name }}</a>
            {% else %}
                <span class=auth">{{pauthor}}</span>
            {% endif %}
        {% else %}
            {% if author %}
            <a class="auth" href="{{author.url}}">{{ author.name }}</a>, 
            {% else %}
                <span class=auth">{{pauthor}}</span>,
            {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    <div class="publication-info">
        {% if page.status == "published" %}
        <span class="pub-info-badge badge badge-pill badge-success">Published</span> 
        {% else if page.status == "in review" %}
        <span class="pub-info-badge badge badge-pill badge-warning">In Review</span> 
        {% else if page.status == "preprint" %}
        <span class="pub-info-badge badge badge-pill badge-info">In Review</span> 
        {% endif %}

        {{ page.publication }}, {{ page.year}}
    </div>
    {% if page.tags %}
    <div class="subject-tags mt-2" >
        {% for tag in page.tags %} 
        <a href="/tag/{{tag}}" class="badge badge-secondary">
            {{ tag }}
        </a>
        {% endfor %}
    </div>
    {% endif %}
    <form action="{{ page.link }}">
        <div class="text-left mt-3 mb-3">
            <input type="submit" class="btn btn-primary" value="Go to Paper" />
        </div>
    </form>
    <div class="clearfix">
    {% if page.youtube_link %}
        <h2>Video</h2>
        <div class="embed-responsive embed-responsive-16by9 m-3">
            <iframe class="embed-responsive-item" src="{{ page.youtube_link }}" frameborder="0" allow="accelerometer;
                                                 autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                                                                allowfullscreen></iframe>
        </div>
    {% else %}
        <div class="publication-teaser float-left">
            <img src="/images/{{ page.slug }}.png" alt="project teaser" class="p-3 img-fluid"/>
        </div>
    {% endif %}
    {{ content }}
    </div>
    <h2 id="links">Links</h2>
    <p>
    <a href="{{ page.rc_pdf_link }}"><i class="far fa-file-pdf"></i> PDF</a>&nbsp;&nbsp;
    {% if page.doi %}
    <a href="{{ page.doi }}"><i class="fas fa-external-link-alt"></i> DOI</a>&nbsp;&nbsp;
    {% endif %}
    {% if page.github_link %}
    <a href="{{ page.github_link }}"><i class="fab fa-github"></i> GitHub</a>&nbsp;&nbsp;
    {% endif %}
    </p>
</div>
