---
layout: default
title: Publications
---

<h1 class="mt-4">
    Publications
</h1>
{% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
    <ul>
    {% endif %}

<div class="pubitem">
    <div class="pubteaser">
        <a href="{{post.url}}">
            <img src="/images/{{ post.slug }}_small.png" alt="{{post.slug}} publication teaser" class="img-thumbnail"/>
        </a>
    </div>
    <div class="pubtitle">
        <a href="{{ post.url }}">
            {{ post.title }}
        </a>
    </div>
    <div class="pubauthors">
        {% for pauthor in post.authors %}
        {%- assign author = site.authors | where: "name": pauthor | first -%}
        {% if forloop.last == true %}
        and <a href="{{author.url}}">
            {{ author.name }}
        </a>
        {% else %}
        <a href="{{ author.url }}">
        {{ author.name }}
        </a>, 
        {% endif %}
        {% endfor %}
    </div>
    <div class="pubinfo">
        {{ post.publication }}, {{ post.year}}
    </div>
    <div class="publinks">
        <a href="/download/{{ post.slug}}.pdf"><i class="far fa-file-pdf"></i> PDF</a>&nbsp;&nbsp;
        <a href="{{post.url}}"><i class="fas fa-link"></i> Project Page</a>
    </div>
</div>

    {% if forloop.last %}
    </ul>
    {% else %}
        {% if this_year != next_year %}
        </ul>
        <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
        <ul>
        {% endif %}
    {% endif %}
{% endfor %}

{% include tag_cloud.html %}
